/*******
COLOR CHEAT SHEET
https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a
fec5bb- Powder Blush
fcd5ce- Alomd Silk
fae1dd- Soft Blush
f8edeb- Seashell 
e8e8e4- Albaster Grey
d8e2dc- Albaster Grey
ece4db- Linen
ffe5d9- Powder Petal 
ffd7ba- Peach Fuzz
fec89a- Peach Glow
#8b9991b2
#bcc9c1 



*****/



/************************/
/******** FONTS *********/
/************************/
body,
p,
div {
    font-family: "Advent Pro", sans-serif;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    font-family: "Edu NSW ACT Cursive", cursive;
}

/************************/
/******** HERO *********/
/************************/

header.masthead {
    background: url("https://img.freepik.com/premium-photo/pastel-colored-ice-cream-background-ice-cream-watercolor-seamless-pattern-wallpaper-cute-backdrop_715671-1715.jpg?w=2000 ");
    background-size: cover;
}

.masthead h1 {
    color: #fec5bb;
    text-shadow: 2px 2px 5px white;
    font-size: 77px !important;
}

.masthead p {
    color: #fcd5ce;
    font-weight: 700;
    text-shadow: 1px 1px 2px white;
    font-size: 2em !important;
}
/************************/
/******** PORTFOLIO *********/
/************************/
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 2rem;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #fcd5ceee;
}

/************************/
/******** COLORS *********/
/************************/
.text-primary {
    color: #d8e2dc !important;
}
.bg-primary {
    background-color: #d8e2dc!important;
}
#about p {
    font-size: 22px;
    color: white !important;
}

.btn-primary {
    background-color: #f8edeb;
    color: gray;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
    background-color: #e8e8e4;
    color: gray;
}

#mainNav .navbar-brand {
	color: gray;
}
#mainNav.navbar-shrink .navbar-brand:hover {
	color: #d8e2dc;
}

#mainNav .navbar-nav .nav-item .nav-link {
	color: gray ;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
	color: pink !important;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
	color: #d8e2dc;
}
.bg-dark {
    background-color: #d8e2dc !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color:#ffe5d9;
    border-radius: 5px;
    padding: 3px; 
}
  
hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: gray;
    opacity: 1;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fcd5ce;
}

#mainNav .navbar-brand:hover {
    color: #fcd5ce;
    text-shadow: 0px 0px 1px black;
}

/**** CONTACT *****/
#contact p {
    font-size: 23px; 
}